.recomendation-container {
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.19);
  padding: 10px;
  width: 390px;
  height: 280px;
}

.recomendation-name {
  float: left;
  width: 150px;
  margin: 0 25px 0 5px;
}

.follow-button {
  margin-top: 10px;
}
